# 데이터프레임 고급 인덱싱

In [1]:
import numpy as np 
import pandas as pd

### loc 인덱서
- df.loc\[행 인덱싱값\]
- df.loc\[행 인덱싱값, 열 인덱싱값\]

In [2]:
df = pd.DataFrame(np.arange(10, 22).reshape(3, 4),
                    index=["a", "b", "c"],
                    columns=["A", "B", "C","D"])
df

    A   B   C   D
a  10  11  12  13
b  14  15  16  17
c  18  19  20  21

In [3]:
# 행이 시리즈로 출력
df.loc['a']

A    10
B    11
C    12
D    13
Name: a, dtype: int32

In [4]:
# 인덱스 데이터의 슬라이스도 가능
df.loc["b":"c"]

    A   B   C   D
b  14  15  16  17
c  18  19  20  21

In [5]:
# 위와 동일
df["b":"c"]

    A   B   C   D
b  14  15  16  17
c  18  19  20  21

In [6]:
# 위와 동일
df.loc[["b", "c"]]

    A   B   C   D
b  14  15  16  17
c  18  19  20  21

In [7]:
df.A > 15

a    False
b    False
c     True
Name: A, dtype: bool

In [8]:
df.loc[df.A > 15]

    A   B   C   D
c  18  19  20  21

In [9]:
df2 = pd.DataFrame(np.arange(10, 26).reshape(4, 4), columns=["A", "B", "C", "D"])
df2

    A   B   C   D
0  10  11  12  13
1  14  15  16  17
2  18  19  20  21
3  22  23  24  25

In [11]:
# 슬라이스의 마지막 값이 포함된다.
df2.loc[1:3]

    A   B   C   D
1  14  15  16  17
2  18  19  20  21
3  22  23  24  25

### 인덱싱값을 행과 열 모두 받는 경우

In [12]:
df

    A   B   C   D
a  10  11  12  13
b  14  15  16  17
c  18  19  20  21

In [13]:
# frame.loc[행, 열]
df.loc['a', 'A']

10

In [14]:
df.loc["b":, "A"]

b    14
c    18
Name: A, dtype: int32

In [15]:
df.loc["a", :]

A    10
B    11
C    12
D    13
Name: a, dtype: int32

In [16]:
df.loc[["a", "b"], ["B", "D"]]

    B   D
a  11  13
b  15  17

### iloc 인덱서
- iloc 인덱서는 loc 인덱서와 반대로 라벨이 아니라 순서를 나타내는 정수(integer) 인덱스만 받는다. 
- 다른 사항은 loc 인덱서와 같다.

In [17]:
df

    A   B   C   D
a  10  11  12  13
b  14  15  16  17
c  18  19  20  21

In [18]:
df.iloc[0, 1]           # 0행, 1열

11

In [19]:
df.iloc[0, -2:]         # 0행, 뒤에서 두번째 열부터 마지막 열까지

C    12
D    13
Name: a, dtype: int32