# 한빛 출판 네트워크 - 새로 나온 책 크롤링

In [1]:
from bs4 import BeautifulSoup
import urllib.request
import pandas as pd

In [2]:
import requests
url = 'https://www.hanbit.co.kr/academy/books/new_book_list.html?page=1'
header = {'User-Agent': 'Mozilla/5.0 (Windows NT 6.3; Trident/7.0; rv:11.0) like Gecko'}
req = requests.get(url, headers = header)
html = req.text

In [3]:
soup = BeautifulSoup(html, 'html.parser')

## 1 Page

In [4]:
book_list = soup.select('.sub_book_list')
len(book_list)

20

#### 가격 찾기

In [5]:
price = book_list[0].select_one('.price')
price.get_text()

'32,000원'

#### 제목 찾기

In [6]:
title = book_list[0].select_one('.book_tit')
title.get_text()

'포르잔 C++ 에센셜'

#### 저자 찾기

In [7]:
writer = book_list[0].select_one('.book_writer')
writer.get_text()

'Behrouz A. Forouzan , Richard F. Gilberg '

#### 데이터프레임으로 만들기

In [8]:
prices = []; titles = []; writers = []

In [9]:
book_list = soup.select('.sub_book_list')

for book in book_list:
    price = book.select_one('.price').get_text()
    title = book.select_one('.book_tit').get_text()
    writer = book.select_one('.book_writer').get_text()

    prices.append(price); titles.append(title); writers.append(writer)

In [10]:
books_page1 = pd.DataFrame({
    'price': prices,
    'title': titles,
    'writer': writers
})
books_page1

,price,title,writer
0,"32,000원",포르잔 C++ 에센셜,"Behrouz A. Forouzan , Richard F. Gilberg"
1,"28,000원","IT CookBook, 액세스 2019로 배우는 데이터베이스 기초와 실습",김지연
2,"45,000원",포르잔 C++ 바이블,"Behrouz A. Forouzan , Richard F. Gilberg"
3,"38,000원",딥러닝을 위한 선형대수학,Gilbert Strang
4,"29,000원","IT CookBook, 오라클로 배우는 데이터베이스 개론과 실습(2판)","박우창 , 남송휘 , 이현룡"
5,"18,000원",대학을 버려야 대학이 산다,조동성 외 인천대학교 가족 178명
6,"28,000원","IT CookBook, 따라 하면서 배우는 사물인터넷",양재삼
7,"32,000원",R로 하는 다변량 데이터 분석 : 이론부터 실무 활용까지,"카와하시 잇코 , 이와마 노리카즈 , 스즈키 마사유키"
8,"23,000원",창의적 공학설계(3판),김은경
9,"23,000원",공학 핵심수학(2판) : 기초부터 심화까지 핵심만 쏙쏙,함남우
10,"31,000원",응용이 보이는 선형대수학 : 파이썬과 함께하는 선형대수학 이론과 응용,이건명
11,"29,000원","IT CookBook, 초연결 사회의 데이터통신과 네트워킹",강문식
12,"30,000원","IT CookBook, 쉽게 배우는 MFC 윈도우 프로그래밍","김선우 , 신화선"
13,"27,000원","IT CookBook, 인공지능 시대를 위한 컴퓨터 과학 개론",정기철
14,"34,000원","IT CookBook, 코틀린을 활용한 안드로이드 프로그래밍","우재남 , 유혜림"
15,"25,000원","IT CookBook, 처음 만나는 신재생에너지",김지홍
16,"35,000원",프리드버그 선형대수학,"스티븐 H. 프리드버그 , 아놀드 J. 인셀 , 로렌스 E. 스펜스"
17,"32,000원","IT CookBook, CentOS 리눅스",이종원
18,"49,000원","Microeconomics, 6th Edition, Asia Edition","David Besanko , Ronald Braeutigam"
19,"26,000원",누구나 파이썬 통계분석,타니아이 히로키

## 1 ~ 10 page

In [11]:
base_url = 'https://www.hanbit.co.kr/academy/books/new_book_list.html?page='
page = '1'
web_url = base_url + page
header = {'User-Agent': 'Mozilla/5.0 (Windows NT 6.3; Trident/7.0; rv:11.0) like Gecko'}
req = requests.get(web_url, headers = header)
html = req.text

In [12]:
soup = BeautifulSoup(html, 'html.parser')

In [13]:
lis = soup.select_one('.paginate')
pages = lis.find_all('a')
len(pages)

10

In [14]:
prices = []; titles = []; writers = []

In [15]:
for i in range(len(pages)):
    base_url = 'https://www.hanbit.co.kr/academy/books/new_book_list.html?page='
    page = str(i+1)
    web_url = base_url + page
    req = requests.get(web_url, headers = header)
    html = req.text
    soup = BeautifulSoup(html, 'html.parser')
    book_list = soup.select('.sub_book_list')

    for book in book_list:
        price = book.select_one('.price').get_text()
        title = book.select_one('.book_tit').get_text()
        writer = book.select_one('.book_writer').get_text()

        prices.append(price); titles.append(title); writers.append(writer)

In [16]:
books_page10 = pd.DataFrame({
    'price': prices,
    'title': titles,
    'writer': writers
})
books_page10.head(40)

,price,title,writer
0,"32,000원",포르잔 C++ 에센셜,"Behrouz A. Forouzan , Richard F. Gilberg"
1,"28,000원","IT CookBook, 액세스 2019로 배우는 데이터베이스 기초와 실습",김지연
2,"45,000원",포르잔 C++ 바이블,"Behrouz A. Forouzan , Richard F. Gilberg"
3,"38,000원",딥러닝을 위한 선형대수학,Gilbert Strang
4,"29,000원","IT CookBook, 오라클로 배우는 데이터베이스 개론과 실습(2판)","박우창 , 남송휘 , 이현룡"
5,"18,000원",대학을 버려야 대학이 산다,조동성 외 인천대학교 가족 178명
6,"28,000원","IT CookBook, 따라 하면서 배우는 사물인터넷",양재삼
7,"32,000원",R로 하는 다변량 데이터 분석 : 이론부터 실무 활용까지,"카와하시 잇코 , 이와마 노리카즈 , 스즈키 마사유키"
8,"23,000원",창의적 공학설계(3판),김은경
9,"23,000원",공학 핵심수학(2판) : 기초부터 심화까지 핵심만 쏙쏙,함남우
10,"31,000원",응용이 보이는 선형대수학 : 파이썬과 함께하는 선형대수학 이론과 응용,이건명
11,"29,000원","IT CookBook, 초연결 사회의 데이터통신과 네트워킹",강문식
12,"30,000원","IT CookBook, 쉽게 배우는 MFC 윈도우 프로그래밍","김선우 , 신화선"
13,"27,000원","IT CookBook, 인공지능 시대를 위한 컴퓨터 과학 개론",정기철
14,"34,000원","IT CookBook, 코틀린을 활용한 안드로이드 프로그래밍","우재남 , 유혜림"
15,"25,000원","IT CookBook, 처음 만나는 신재생에너지",김지홍
16,"35,000원",프리드버그 선형대수학,"스티븐 H. 프리드버그 , 아놀드 J. 인셀 , 로렌스 E. 스펜스"
17,"32,000원","IT CookBook, CentOS 리눅스",이종원
18,"49,000원","Microeconomics, 6th Edition, Asia Edition","David Besanko , Ronald Braeutigam"
19,"26,000원",누구나 파이썬 통계분석,타니아이 히로키
20,"29,000원",제대로 배우는 MATLAB&Simulink,방성완
21,"25,000원",공학도를 위한 경영 : 4차 산업혁명 시대,하귀룡
22,"24,000원","SWedu 011, 앱 인벤터(2판) : 쉽고 재미있게 만드는 앱 프로그래밍",이종원
23,"27,000원","IT CookBook, 컴파일러의 이해 : 내공 있는 프로그래머로 길러주는 (증보판)",박두순
24,"28,000원",(2020) 완벽분석! 사회조사분석사 2급 실기,"노경섭 , 김성일 , 김기만"
25,"32,000원","IT CookBook, 운영체제론 : Operating Systems, 3rd Ed","하비 디텔 , 폴 디텔 , 데이빗 쇼픈스"
26,"20,000원",기초수학 : Basic Mathematics(2판),이재원
27,"29,000원","IT CookBook, Android Studio를 활용한 안드로이드 프로그래밍(5판)","우재남 , 박길식"
28,"25,000원","IT CookBook, 4차 산업혁명 시대의 정보통신개론",고응남
29,"28,000원","IT CookBook, C 언어 일취월장",신윤환
30,"27,000원","IT CookBook, UI 디자인과 프로토타이핑을 위한 Adobe XD",이영주
31,"28,000원","IT CookBook, UI/UX 디자인 이론과 실습 with Adobe XD",이영주
32,"24,000원","IT CookBook, 객체 지향 설계와 분석을 위한 UML 기초와 응용","한정수 , 김귀정"
33,"24,000원","IT CookBook, 리눅스 실습 for Beginner",우재남
34,"25,000원","IT CookBook, 비주얼 베이직 2019 입문",임관철
35,"21,000원","IT CookBook, 스크래치로 배우는 컴퓨팅 사고","조성호 , 고광일"
36,"21,000원","IT CookBook, 엑셀로 배우는 데이터 분석",박주미
37,"26,000원","IT CookBook, 초연결 사회를 위한 컴퓨터 개론",조성호
38,"23,000원","IT CookBook, 파이썬 for Beginner(2판)",우재남
39,"28,000원",NO BULLSHIT 선형대수학 가이드,Ivan Savov

## 모든 페이지(~ 16 page)

In [68]:
prices = []; titles = []; writers = []

In [69]:
for i in range(16):
    base_url = 'https://www.hanbit.co.kr/academy/books/new_book_list.html?page='
    page = str(i+1)
    web_url = base_url + page
    req = requests.get(web_url, headers = header)
    html = req.text
    soup = BeautifulSoup(html, 'html.parser')
    book_list = soup.select('.sub_book_list')

    for book in book_list:
        price = book.select_one('.price').get_text()[:-1]
        price = int(price.replace(",", ""))
        title = book.select_one('.book_tit').get_text()
        writer = book.select_one('.book_writer').get_text()

        prices.append(price); titles.append(title); writers.append(writer)

In [70]:
books = pd.DataFrame({
    'price': prices,
    'title': titles,
    'writer': writers
})
books

,price,title,writer
0,32000,포르잔 C++ 에센셜,"Behrouz A. Forouzan , Richard F. Gilberg"
1,28000,"IT CookBook, 액세스 2019로 배우는 데이터베이스 기초와 실습",김지연
2,45000,포르잔 C++ 바이블,"Behrouz A. Forouzan , Richard F. Gilberg"
3,38000,딥러닝을 위한 선형대수학,Gilbert Strang
4,29000,"IT CookBook, 오라클로 배우는 데이터베이스 개론과 실습(2판)","박우창 , 남송휘 , 이현룡"
...,...,...,...
296,18000,문제해결력을 키우는 이공계 글쓰기 : 발표와 토론까지,한성우
297,20000,"진로개발과 직업세계 : 대학생과 청년층을 위한 진로, 취업지침서","서일수 , 김도균 , 김지혜 , 이정배"
298,36000,Essential Calculus,James Stewart
299,25000,"IT CookBook, 디지털 통신 시스템 : Digital Communicatio...","정호영 , 임승각"
300,32000,"IT CookBook, 운영체제론 : Operating Systems, 3rd Ed","하비 디텔 , 폴 디텔 , 데이빗 쇼픈스"

In [71]:
books.to_csv('../input/books1.csv', sep=',', encoding='utf8')

## 책 상세정보

In [21]:
url = 'https://www.hanbit.co.kr/academy/books/book_view.html?p_code=B4797877052'
header = {'User-Agent': 'Mozilla/5.0 (Windows NT 6.3; Trident/7.0; rv:11.0) like Gecko'}
req = requests.get(url, headers = header)
html = req.text

In [22]:
soup = BeautifulSoup(html, 'html.parser')

In [23]:
product_info = soup.select_one('.store_product_info_box')

#### 제목 찾기

In [24]:
product_info.find('h3').get_text()

'포르잔 C++ 에센셜'

#### 저자 찾기

In [25]:
info_list = product_info.select_one('.info_list')
spans = info_list.find_all('span')
spans[0].get_text()

'Behrouz A. Forouzan , Richard F. Gilberg '

#### 번역 찾기

In [26]:
spans[1].get_text()

'윤인성 '

#### 출간일 찾기

In [27]:
spans[2].get_text()

'2020-11-10'

#### 페이지 찾기

In [28]:
spans[3].get_text()

'756 쪽'

#### ISBN 찾기

In [29]:
spans[4].get_text()

'9791156645061'

#### 물류코드 찾기

In [30]:
spans[5].get_text()

'4506'

#### 가격 정보 찾기

In [31]:
payment_list = soup.select_one('.store_payment_area')

In [32]:
# 정가, 판매가, 마일리지
fixed_prices = []; selling_prices = []; mileages = []
pb_list = payment_list.select('.pbr')
for pay in pb_list:
    print(pay.get_text())

32,000원
32,000원(0% off)
960점 (3%)

#### 책 코드 뽑아내기

In [74]:
import requests
url = 'https://www.hanbit.co.kr/academy/books/new_book_list.html?page=1'
header = {'User-Agent': 'Mozilla/5.0 (Windows NT 6.3; Trident/7.0; rv:11.0) like Gecko'}
req = requests.get(url, headers = header)
html = req.text

In [75]:
soup = BeautifulSoup(html, 'html.parser')

In [76]:
codes = soup.select('.thumb')
codes[0].attrs['src'][12:23]
#img.attrs['src'][12:23]

'B4797877052'

In [77]:
codes = soup.select('.thumb'); code_list = []
for code in codes:
    code_list.append(code.attrs['src'][12:23])
code_list

['B4797877052',
 'B6503201303',
 'B1851418066',
 'B9479195027',
 'B2082711299',
 'B1825116777',
 'B5937482728',
 'B8404138031',
 'B8573612142',
 'B8658821149',
 'B7926921440',
 'B4295361584',
 'B3126325886',
 'B3715221949',
 'B3055805288',
 'B4872546419',
 'B1710834745',
 'B8200129293',
 'B8983481859',
 'B2049588591']

## 1 Page

In [ ]:
titles = []; writers = []; dates = []; pages = []; ISBNs = []

In [ ]:
codes = soup.select('.thumb')
product_info = soup.select_one('.store_product_info_box')

for c in code_list:
    web_url = 'https://www.hanbit.co.kr/academy/books/book_view.html?p_code='
    book_code = c
    url = web_url + book_code
    header = {'User-Agent': 'Mozilla/5.0 (Windows NT 6.3; Trident/7.0; rv:11.0) like Gecko'}
    req = requests.get(url, headers = header)
    html = req.text

    title = product_info.find('h3').get_text()
    writer =

In [ ]:
web_url = 'https://www.hanbit.co.kr/academy/books/book_view.html?p_code='
book_code = 'B4797877052'
url = web_url + book_code
header = {'User-Agent': 'Mozilla/5.0 (Windows NT 6.3; Trident/7.0; rv:11.0) like Gecko'}
req = requests.get(url, headers = header)
html = req.text

In [ ]:
soup = BeautifulSoup(html, 'html.parser')