# MySQL

In [10]:
import json
with open('mysql.json', 'r') as file:
    config_str = file.read()
config = json.loads(config_str)

In [11]:
config

{'host': 'localhost',
 'user': 'hsuser',
 'password': 'hspass',
 'database': 'bbs_python',
 'port': 3306}

In [12]:
import pymysql
conn = pymysql.connect(
    host = config['host'],
    user = config['user'],
    password = config['password'],
    database = config['database'],
    port = config['port']
)

In [13]:
cur = conn.cursor()
sql = """SELECT uid, uname, DATE_FORMAT(regDate, '%Y-%m-%d') AS regDate
            FROM users WHERE isDeleted=0;"""
cur.execute(sql)
rows = cur.fetchall()
for row in rows:
    print(row)

('aaa', 'guest1', '2020-11-06')
('admin', '관리자', '2020-11-06')
('bbb', 'guest2', '2020-11-06')
('ccc', 'guest3', '2020-11-06')
('choi', '최강현', '2020-11-06')
('ddd', 'guest4', '2020-11-06')
('eee', 'guest5', '2020-11-06')
('lee', '이근', '2020-11-06')
('park', '박주영', '2020-11-06')

In [14]:
# 딕셔너리로 출력
cur = conn.cursor(pymysql.cursors.DictCursor)
sql = """SELECT uid, uname, DATE_FORMAT(regDate, '%Y-%m-%d') AS regDate
            FROM users WHERE isDeleted=0;"""
cur.execute(sql)
rows = cur.fetchall()
for row in rows:
    print(row)

{'uid': 'aaa', 'uname': 'guest1', 'regDate': '2020-11-06'}
{'uid': 'admin', 'uname': '관리자', 'regDate': '2020-11-06'}
{'uid': 'bbb', 'uname': 'guest2', 'regDate': '2020-11-06'}
{'uid': 'ccc', 'uname': 'guest3', 'regDate': '2020-11-06'}
{'uid': 'choi', 'uname': '최강현', 'regDate': '2020-11-06'}
{'uid': 'ddd', 'uname': 'guest4', 'regDate': '2020-11-06'}
{'uid': 'eee', 'uname': 'guest5', 'regDate': '2020-11-06'}
{'uid': 'lee', 'uname': '이근', 'regDate': '2020-11-06'}
{'uid': 'park', 'uname': '박주영', 'regDate': '2020-11-06'}

In [15]:
import pandas as pd 
df = pd.DataFrame(rows)
df

     uid   uname     regDate
0    aaa  guest1  2020-11-06
1  admin     관리자  2020-11-06
2    bbb  guest2  2020-11-06
3    ccc  guest3  2020-11-06
4   choi     최강현  2020-11-06
5    ddd  guest4  2020-11-06
6    eee  guest5  2020-11-06
7    lee      이근  2020-11-06
8   park     박주영  2020-11-06

In [16]:
sql = """SELECT b.bid, b.uid, u.uname, b.title, b.viewCount, b.replyCount,  
                DATE_FORMAT(b.modTime, '%Y-%m-%d %T') AS modTime
                FROM bbs AS b
                JOIN users AS u
                ON b.uid=u.uid
                WHERE b.isDeleted=0
                ORDER BY b.bid DESC;"""
cur = conn.cursor()
cur.execute(sql)
rows = cur.fetchall()
for row in rows:
    print(row)

(1006, 'lee', '이근', '슬기로운 의사생활', 1, 1, '2020-11-06 16:18:46')
(1005, 'lee', '이근', '파리의 연인', 2, 2, '2020-11-06 16:18:46')
(1004, 'park', '박주영', '시크릿 가든', 0, 0, '2020-11-06 16:18:46')
(1003, 'park', '박주영', '태양의 후예', 0, 0, '2020-11-06 16:18:46')
(1002, 'admin', '관리자', '도깨비', 0, 0, '2020-11-06 16:18:46')
(1001, 'admin', '관리자', '미스터 션샤인', 0, 0, '2020-11-06 16:18:46')

In [17]:
# '%' 기호가 동작되지 않을 때는 앞에 '%'를 하나 더 붙이자! 
sql = """SELECT b.bid, b.uid, u.uname, b.title, b.content, 
                DATE_FORMAT(b.modTime, '%%Y-%%m-%%d %%T') AS modTime, 
                b.viewCount, b.replyCount
                FROM bbs AS b
                JOIN users AS u
                ON b.uid=u.uid
                WHERE b.bid=%s;"""
cur.execute(sql, (1006,))
row = cur.fetchone()
print(row)

(1006, 'lee', '이근', '슬기로운 의사생활', '누군가는 태어나고 누군가는 삶을 끝내는, 인생의 축소판이라 불리는 병원에서 평범한 듯 특별한 하루하루를 살아가는 사람들과 눈빛만 봐도 알 수 있는 20년지기 친구들의 케미스토리를 담은 드라마. 99학번 의대 동기 다섯 명을 중심으로 펼쳐지는 병원에서의 이야기를 그린다.', '2020-11-06 16:18:46', 1, 1)

In [18]:
cur.close()
conn.close()