# 연습문제

### 1번

In [4]:
import sqlite3
conn = sqlite3.connect('./dinos.db')
cur = conn.cursor()

In [5]:
# 데이터 추가
players = [
    (14, '손정욱', '투수'), 
    (10, '지석훈', '내야수'), (18, '박석민', '내야수'), 
    (47, '나성범', '외야수'), (33, '이명기', '외야수'),
    (20, '정범모', '포수'), (25, '양의지', '포수')
]
cur = conn.cursor()
insert_sql = 'insert into Dinos (back_no, name, position) values (?, ?, ?);'
for player in players:
    cur.execute(insert_sql, player)
conn.commit()

In [9]:
cur = conn.cursor()
cur.execute('create table if not exists Pitcher_stats \
(back_no integer, ERA real, IP integer, SO integer, \
foreign key (back_no) references Dinos(back_no));')
conn.commit()

In [10]:
cur = conn.cursor()
cur.execute('select * from Dinos')
rows = cur.fetchall()
for row in rows:
    print(row)

(10, '지석훈', '내야수')
(12, '라이트', '투수')
(14, '손정욱', '투수')
(18, '박석민', '내야수')
(20, '정범모', '포수')
(25, '양의지', '포수')
(33, '이명기', '외야수')
(47, '나성범', '외야수')

In [11]:
stats = [
    (12, 4.68, 157, 125), (14, 5.25, 12, 5)
]
insert_sql2 = 'insert into Pitcher_stats (back_no, ERA, IP, SO) values (?, ?, ?, ?);'
for stat in stats:
    cur.execute(insert_sql2, stat)
conn.commit()

In [12]:
cur = conn.cursor()
cur.execute('select * from Pitcher_stats')
rows = cur.fetchall()
for row in rows:
    print(row)

(12, 4.68, 157, 125)
(14, 5.25, 12, 5)

In [14]:
# Dinos 테이블과 Pitcher_stats 테이블 조인 후 투수들의 정보 출력
cur = conn.cursor()
join_sql = "select d.back_no, d.name, d.position, p.IP, p.ERA, p.SO \
    from Dinos as d \
        join Pitcher_stats as p \
            on d.back_no=p.back_no \
                where d.position like '투수';"

cur.execute(join_sql)
rows = cur.fetchall()
for row in rows:
    print(row)

(12, '라이트', '투수', 157, 4.68, 125)
(14, '손정욱', '투수', 12, 5.25, 5)

### 2번

In [15]:
import sqlite3
conn = sqlite3.connect('./idol.db')
cur = conn.cursor()

In [18]:
# idol_group 테이블 생성
cur = conn.cursor()
cur.execute("create table if not exists idol_group \
    (id integer primary key autoincrement, \
        group_name text not null, \
            '구성원 수' text not null, \
                '데뷔일자' text not null, \
                    '소속사' text not null);")
conn.commit()

In [21]:
# idol_group 테이블에 데이터 추가
groups = [
    ('방탄소년단', 7, '2013-06-13', '빅히트 엔터테인먼트'), 
    ('트와이스', 9, '2015-10-20', 'JYP 엔터테인먼트'),
    ('세븐틴', 13, '2015-05-26', '플레디스'), 
    ('블랙핑크', 4, '2016-08-08', 'YG 엔터테인먼트'), 
    ('SF9', 9, '2016-10-05', 'FNC 엔터테인먼트'), 
    ('우주소녀', 13, '2016-02-25', '스타쉽 엔터테인먼트')
]
cur = conn.cursor()
insert_group = "insert into idol_group (group_name, '구성원 수', '데뷔일자', '소속사') \
    values (?, ?, ?, ?);"
for group in groups:
    cur.execute(insert_group, group)
conn.commit()

In [22]:
# idol_group 테이블 조회
cur = conn.cursor()
cur.execute('select * from idol_group;')
rows = cur.fetchall()
for row in rows:
    print(row)

(1, '방탄소년단', '7', '2013-06-13', '빅히트 엔터테인먼트')
(2, '트와이스', '9', '2015-10-20', 'JYP 엔터테인먼트')
(3, '세븐틴', '13', '2015-05-26', '플레디스')
(4, '블랙핑크', '4', '2016-08-08', 'YG 엔터테인먼트')
(5, 'SF9', '9', '2016-10-05', 'FNC 엔터테인먼트')
(6, '우주소녀', '13', '2016-02-25', '스타쉽 엔터테인먼트')

In [23]:
# song 테이블 생성
cur = conn.cursor()
cur.execute("create table if not exists song \
    (song_id integer primary key autoincrement, \
        song_name text not null, \
            'group_id' integer not null, \
                '발표년도' integer not null, \
                    '작곡가' text not null, \
                        '도입부 가사' text, \
                            foreign key (group_id) references idol_group(id));")
conn.commit()

In [24]:
# song 테이블에 데이터 추가
songs = [
    (1, 'DNA', 2017, '방시혁, Pdogg, RM', '첫 눈에 널 알아보게 됐어'), 
    (1, '피 땀 눈물', 2016, 'Pdogg, RM, SUGA', '내 피 땀 눈물 내 마지막 춤을'),
    (1, '소우주', 2019, 'Matty Thomson', '반짝이는 별빛들 깜빡이는 불 켜진 건물'), 
    (2, 'What is Love?', 2018, '박진영', '매일같이 영화 속에서나 책 속에서나 드라마 속에서'), 
    (2, 'I CAN’T STOP ME', 2020, 'Melanie Joy Fontana', '알람이 울려대 Ring ring a ling'), 
    (3, '아주 NICE', 2016, 'WOOZI', '아침엔 모닝콜 필수던 내가'),
    (4, '뚜두뚜두', 2018, 'TEDDY', '착한 얼굴에 그렇지 못한 태도'),
    (4, '마지막처럼', 2017, 'TEDDY', '너 뭔데 자꾸 생각나'),
    (5, 'MAMMA MIA', 2018, '김창락', 'SF9 Clap Clap yo We back again'),
    (5, '오솔레미오', 2017, '김창락', '비춰줘 날 환히 비춰줘'),
    (6, '꿈꾸는 마음으로', 2018, '영광의 얼굴들', '나 있잖아 가끔 아주 아찔한 상상에'),
    (6, 'BUTTERFLY', 2020, '별들의 전쟁', '까칠한 말투에 차가운 무표정이')
]
cur = conn.cursor()
insert_song = "insert into song (group_id, song_name, '발표년도', '작곡가', '도입부 가사') \
    values (?, ?, ?, ?, ?);"
for song in songs:
    cur.execute(insert_song, song)
conn.commit()

In [25]:
# song 테이블 조회
cur = conn.cursor()
cur.execute('select * from song;')
rows = cur.fetchall()
for row in rows:
    print(row)

(1, 'DNA', 1, 2017, '방시혁, Pdogg, RM', '첫 눈에 널 알아보게 됐어')
(2, '피 땀 눈물', 1, 2016, 'Pdogg, RM, SUGA', '내 피 땀 눈물 내 마지막 춤을')
(3, '소우주', 1, 2019, 'Matty Thomson', '반짝이는 별빛들 깜빡이는 불 켜진 건물')
(4, 'What is Love?', 2, 2018, '박진영', '매일같이 영화 속에서나 책 속에서나 드라마 속에서')
(5, 'I CAN’T STOP ME', 2, 2020, 'Melanie Joy Fontana', '알람이 울려대 Ring ring a ling')
(6, '아주 NICE', 3, 2016, 'WOOZI', '아침엔 모닝콜 필수던 내가')
(7, '뚜두뚜두', 4, 2018, 'TEDDY', '착한 얼굴에 그렇지 못한 태도')
(8, '마지막처럼', 4, 2017, 'TEDDY', '너 뭔데 자꾸 생각나')
(9, 'MAMMA MIA', 5, 2018, '김창락', 'SF9 Clap Clap yo We back again')
(10, '오솔레미오', 5, 2017, '김창락', '비춰줘 날 환히 비춰줘')
(11, '꿈꾸는 마음으로', 6, 2018, '영광의 얼굴들', '나 있잖아 가끔 아주 아찔한 상상에')
(12, 'BUTTERFLY', 6, 2020, '별들의 전쟁', '까칠한 말투에 차가운 무표정이')

In [26]:
# idol_group 테이블과 song 테이블 조인 후 그룹과 곡 정보 출력
cur = conn.cursor()
join_idol = "select i.group_name, i.'구성원 수', i.'데뷔일자', s.song_name, s.'발표년도' \
    from idol_group as i \
        join song as s \
            on i.id=s.group_id;"
cur.execute(join_idol)
rows = cur.fetchall()
for row in rows:
    print(row)

('방탄소년단', '7', '2013-06-13', 'DNA', 2017)
('방탄소년단', '7', '2013-06-13', '피 땀 눈물', 2016)
('방탄소년단', '7', '2013-06-13', '소우주', 2019)
('트와이스', '9', '2015-10-20', 'What is Love?', 2018)
('트와이스', '9', '2015-10-20', 'I CAN’T STOP ME', 2020)
('세븐틴', '13', '2015-05-26', '아주 NICE', 2016)
('블랙핑크', '4', '2016-08-08', '뚜두뚜두', 2018)
('블랙핑크', '4', '2016-08-08', '마지막처럼', 2017)
('SF9', '9', '2016-10-05', 'MAMMA MIA', 2018)
('SF9', '9', '2016-10-05', '오솔레미오', 2017)
('우주소녀', '13', '2016-02-25', '꿈꾸는 마음으로', 2018)
('우주소녀', '13', '2016-02-25', 'BUTTERFLY', 2020)

### 3번

In [27]:
conn = sqlite3.connect('./user.db')
cur = conn.cursor()

In [28]:
# Users 테이블 생성
cur = conn.cursor()
cur.execute("create table if not exists Users (name text, password integer);")
conn.commit()

In [29]:
# Users 테이블에 데이터 추가
cur = conn.cursor()
users = [
    ('admin', 12345), ('kim', 1234), ('lee', 1234), ('park', 1234),
    ('jung', 1234), ('choi', 1234), ('son', 1234), ('lim', 1234)
]
insert_user = "insert into Users values(?, ?)"
for user in users:
    cur.execute(insert_user, user)
conn.commit()

In [31]:
# Users 테이블 조회
cur = conn.cursor()
cur.execute('select * from Users;')
rows = cur.fetchall()
for row in rows:
    print(row)

[('admin', 12345), ('kim', 1234), ('lee', 1234), ('park', 1234), ('jung', 1234), ('choi', 1234), ('son', 1234), ('lim', 1234)]
('admin', 12345)
('kim', 1234)
('lee', 1234)
('park', 1234)
('jung', 1234)
('choi', 1234)
('son', 1234)
('lim', 1234)

In [37]:
name = input('사용자 이름: ')
pw = int(input('비밀번호: '))

cur.execute('select * from Users;')
rows = cur.fetchall()
for row in rows:
    if name == row[0] and pw == row[1]:
        print('성공')
    else:
        print('실패')

실패
성공
실패
실패
실패
실패
실패
실패