In [2]:
import numpy as np 
import pandas as pd 
import seaborn as sns 
import matplotlib as mpl 
import matplotlib.pyplot as plt 
import os
from tqdm import tqdm_notebook
from glob import glob 
%matplotlib inline
# 한글폰트 사용
mpl.rc('font', family='Malgun Gothic')
mpl.rc('axes', unicode_minus=False)

In [3]:
tmp = pd.read_csv('./data/상가정보_202009/상가(상권)정보_강원_202009.csv', sep='|')
tmp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 117774 entries, 0 to 117773
Data columns (total 39 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   상가업소번호     117774 non-null  int64
 1   상호명        117774 non-null  object
 2   지점명        13861 non-null   object
 3   상권업종대분류코드  117774 non-null  object
 4   상권업종대분류명   117774 non-null  object
 5   상권업종중분류코드  117774 non-null  object
 6   상권업종중분류명   117774 non-null  object
 7   상권업종소분류코드  117774 non-null  object
 8   상권업종소분류명   117774 non-null  object
 9   표준산업분류코드   109914 non-null  object
 10  표준산업분류명    109914 non-null  object
 11  시도코드       117774 non-null  int64
 12  시도명        117774 non-null  object
 13  시군구코드      117774 non-null  int64
 14  시군구명       117774 non-null  object
 15  행정동코드      117774 non-null  int64
 16  행정동명       117763 non-null  object
 17  법정동코드      117763 non-null  float64
 18  법정동명       117763 non-null  object
 19  지번코드       117774 non-null  int64
 20  대지구분코드     117774 non-null  int64
 21  대지구분명      117774 non-null  object
 22  지번본번지      117774 non-null  int64
 23  지번부번지      96604 non-null   float64
 24  지번주소       117774 non-null  object
 25  도로명코드      117774 non-null  int64
 26  도로명        117774 non-null  object
 27  건물본번지      117774 non-null  int64
 28  건물부번지      30352 non-null   float64
 29  건물관리번호     117774 non-null  object
 30  건물명        29033 non-null   object
 31  도로명주소      117774 non-null  object
 32  구우편번호      117774 non-null  int64
 33  신우편번호      117764 non-null  float64
 34  동정보        5679 non-null    object
 35  층정보        50376 non-null   object
 36  호정보        12122 non-null   object
 37  경도         117774 non-null  float64
 38  위도         117774 non-null  float64
dtypes: float64(6), int64(10), object(23)
memory usage: 35.0+ MB

In [4]:
tmp = pd.read_csv('./data/상가정보_202009/상가(상권)정보_강원_202009.csv', sep='|')
tmp = tmp[tmp['상권업종중분류코드'] == 'Q07']
tmp = tmp[['상호명', '도로명주소']]
tmp.head()

         상호명                도로명주소
12   버거킹오션월드  강원도 홍천군 서면 한치골길 262
196      로데오   강원도 강릉시 경강로 2090-1
479   왕눈이도넛츠   강원도 영월군 영월읍 삼옥재길 2
618  씨지브이원주2     강원도 원주시 서원대로 171
643   베스킨라벤스       강원도 삼척시 진주로 35

In [5]:
tmp[tmp['상호명'].str.contains('버거킹') | tmp['상호명'].str.lower().str.contains('burgerking')]

               상호명                 도로명주소
12         버거킹오션월드   강원도 홍천군 서면 한치골길 262
19073          버거킹   강원도 홍천군 서면 한치골길 262
32584       BKR버거킹   강원도 홍천군 서면 한치골길 262
79048          버거킹      강원도 강릉시 하슬라로 159
81386   버거킹춘천거두GS점  강원도 춘천시 동내면 춘천순환로 59
85557          버거킹  강원도 춘천시 동내면 춘천순환로 59
88647          버거킹     강원도 속초시 동해대로 4059
103209         버거킹   강원도 홍천군 서면 한치골길 264
109596         버거킹       강원도 원주시 남원로 505
111386         버거킹      강원도 춘천시 방송길 98-1

In [6]:
tmp[tmp['상호명'].str.contains('맥도날드') | tmp['상호명'].str.lower().str.contains('mcdonalds')]

                        상호명              도로명주소
24245         한국맥도날드춘천퇴계DT점   강원도 춘천시 영서로 2173
37936          한국맥도날드원주단계DT   강원도 원주시 서원대로 154
38732          한국맥도날드원주단구DT   강원도 원주시 서원대로 426
47339                  맥도날드   강원도 원주시 서원대로 426
56818              신맥맥도날드원주   강원도 원주시 북원로 1928
67894                  맥도날드  강원도 속초시 동해대로 4118
67931                  맥도날드   강원도 원주시 서원대로 154
70409                  맥도날드     강원도 춘천시 명동길 14
72741                  맥도날드   강원도 강릉시 경강로 2097
80517             맥도날드동해DT점      강원도 동해시 대학로 2
82397           한국맥도날드동해DT점      강원도 동해시 대학로 2
83435  한국맥도날드춘천후평DT점춘천후평DT점    강원도 춘천시 후석로 334
88736           한국맥도날드동해DT점     강원도 동해시 한섬로 93
93282         한국맥도날드춘천후평DT점    강원도 춘천시 후석로 334

In [7]:
tmp[tmp['상호명'].str.contains('케이에프씨') | tmp['상호명'].str.lower().str.contains('kfc')]

                상호명                도로명주소
10989     케이에프씨춘천석사     강원도 춘천시 영서로 2027
39638  에스알에스KFC현대성우  강원도 횡성군 둔내면 고원로 451
60175        KFC춘천1    강원도 춘천시 중앙로67번길 4
60777     SRSKFC춘천1    강원도 춘천시 중앙로67번길 4
60778     SRS코리아KFC    강원도 동해시 한섬로 111-7
70740           KFC    강원도 춘천시 중앙로67번길 4

In [8]:
tmp[tmp['상호명'].str.contains('롯데리아') | tmp['상호명'].str.lower().str.contains('lotteria')]

                  상호명                       도로명주소
23422            롯데리아       강원도 춘천시 남산면 북한강변길 688
24208            롯데리아        강원도 홍천군 홍천읍 홍천로6길 22
25290            롯데리아           강원도 강릉시 교동광장로 106
26924       문막휴게소롯데리아        강원도 원주시 문막읍 원문로 1234
31522       롯데리아태백태백점           강원도 태백시 황지로 194-1
39100   문막휴게소강릉방향롯데리아        강원도 원주시 문막읍 원문로 1234
42843            롯데리아             강원도 원주시 무실로 178
45259     롯데리아낙산해수욕장점        강원도 양양군 강현면 일출로 31-7
52083            롯데리아             강원도 속초시 중앙로 128
55480      롯데리아익스프레스점        강원도 춘천시 서부대성로57번길 10
58422       현대성우롯데리아점          강원도 횡성군 횡성읍 문정로 20
61552            롯데리아             강원도 속초시 소평로 162
63164            롯데리아             강원도 강릉시 하평2길 11
64069            롯데리아            강원도 원주시 치악로 1489
64077            롯데리아              강원도 원주시 우산로 72
64648            롯데리아          강원도 양구군 양구읍 양록길 99
65275            롯데리아            강원도 강릉시 경강로 2106
65750            롯데리아           강원도 춘천시 서부대성로 243
66661            롯데리아      강원도 홍천군 홍천읍 홍천로6길 24-2
68260            롯데리아            강원도 원주시 서원대로 171
69641            롯데리아        강원도 화천군 화천읍 중앙로 16-1
69735            롯데리아        강원도 정선군 정선읍 병방치길 235
70821            롯데리아         강원도 강릉시 주문진읍 주문로 78
71359            롯데리아       강원도 원주시 지정면 월송석화로 838
73761   롯데리아문막휴게소강릉방면        강원도 원주시 문막읍 원문로 1234
82542       롯데리아고성간성점        강원도 고성군 간성읍 간성로 59-1
90138            롯데리아     강원도 화천군 화천읍 중앙로4길 13-10
93197       롯데리아혁신도시점            강원도 원주시 건강로 17-2
94516            롯데리아           강원도 속초시 설악산로 1042
94585     롯데리아경포해수욕장점             강원도 강릉시 창해로 441
96481            롯데리아             강원도 원주시 단구로 411
97133       롯데리아원주일산점             강원도 원주시 천사로 213
97329            롯데리아    강원도 인제군 상남면 서울양양고속도로 117
97357            롯데리아       강원도 원주시 지정면 오크밸리2길 58
98035            롯데리아             강원도 속초시 중앙로 124
100027           롯데리아        강원도 춘천시 동면 춘천순환로 600
101866           롯데리아  강원도 인제군 상남면 서울양양고속도로 117-2
101946    롯데리아롯데속초리조트            강원도 속초시 대포항길 186
102433           롯데리아            강원도 속초시 대포항길 186
107844           롯데리아              강원도 춘천시 중앙로 33
110999           롯데리아        강원도 평창군 대관령면 솔봉로 325
113229           롯데리아         강원도 홍천군 서면 한치골길 262
115763           롯데리아        강원도 양양군 양양읍 양양로 15-1
117268           롯데리아             강원도 원주시 단관길 125

In [9]:
file_list = glob('./data/상가정보_202009/상가*.csv')
data = []
for file_name in file_list:
    tmp = pd.read_csv(file_name, sep='|')
    tmp = tmp[tmp['상권업종중분류코드'] == 'Q07']
    tmp = tmp[['상호명', '지점명', '시도명', '시군구명', '도로명주소']]
    data.append(tmp)

df = pd.concat(data, ignore_index=True)

In [10]:
df.head()

       상호명  지점명  시도명 시군구명                도로명주소
0  버거킹오션월드  NaN  강원도  홍천군  강원도 홍천군 서면 한치골길 262
1      로데오  NaN  강원도  강릉시   강원도 강릉시 경강로 2090-1
2   왕눈이도넛츠  NaN  강원도  영월군   강원도 영월군 영월읍 삼옥재길 2
3  씨지브이원주2  NaN  강원도  원주시     강원도 원주시 서원대로 171
4   베스킨라벤스  NaN  강원도  삼척시       강원도 삼척시 진주로 35

In [11]:
len(df)

31169

In [12]:
df[df['시군구명'] == '창원시 마산합포구']

            상호명        지점명   시도명       시군구명                        도로명주소
9085      송프로피자        NaN  경상남도  창원시 마산합포구       경상남도 창원시 마산합포구 남성로 132
9105   송유리치킨피자샵        NaN  경상남도  창원시 마산합포구   경상남도 창원시 마산합포구 진북면 지산5길 73
9107      건강한음료        NaN  경상남도  창원시 마산합포구      경상남도 창원시 마산합포구 해안대로 234
9119         한솥  도시락마산경남대점  경상남도  창원시 마산합포구        경상남도 창원시 마산합포구 고운로 81
9167     나나피시카페        NaN  경상남도  창원시 마산합포구       경상남도 창원시 마산합포구 해안대로 11
...         ...        ...   ...        ...                          ...
10759    토마토도시락      마산현동점  경상남도  창원시 마산합포구       경상남도 창원시 마산합포구 현동6길 18
10761       피치랑       신마산점  경상남도  창원시 마산합포구      경상남도 창원시 마산합포구 315대로 77
10805     빅스타피자      창원현동점  경상남도  창원시 마산합포구       경상남도 창원시 마산합포구 현동7길 32
10825   치킨과바람피자       경남대점  경상남도  창원시 마산합포구       경상남도 창원시 마산합포구 월영동3길 9
10874     쌀똑핫도그        NaN  경상남도  창원시 마산합포구  경상남도 창원시 마산합포구 진동면 진북산업로 55

[101 rows x 5 columns]

In [13]:
df[df['시군구명'] == '창원시 마산회원구']

                상호명      지점명   시도명       시군구명                        도로명주소
9030            피자헛    마산내서점  경상남도  창원시 마산회원구  경상남도 창원시 마산회원구 내서읍 경남대로 915
9044         씨지브이마산      NaN  경상남도  창원시 마산회원구     경상남도 창원시 마산회원구 315대로 736
9063   한국맥도날드창원내DT점      NaN  경상남도  창원시 마산회원구  경상남도 창원시 마산회원구 내서읍 광려천서로 77
9073         스태프핫도그      NaN  경상남도  창원시 마산회원구  경상남도 창원시 마산회원구 내서읍 경남대로 927
9074          이삭토스트      NaN  경상남도  창원시 마산회원구      경상남도 창원시 마산회원구 구암남14길 5
...             ...      ...   ...        ...                          ...
10814           버거킹  마산회원FS점  경상남도  창원시 마산회원구     경상남도 창원시 마산회원구 315대로 522
10823          롯데리아     북마산점  경상남도  창원시 마산회원구      경상남도 창원시 마산회원구 회원동3길 38
10853      피자나라치킨공주      삼계점  경상남도  창원시 마산회원구  경상남도 창원시 마산회원구 내서읍 숲속로 20-3
10869         경성꽈배기    창원양덕점  경상남도  창원시 마산회원구        경상남도 창원시 마산회원구 삼호로 80
10872      행복한찹쌀꽈배기      NaN  경상남도  창원시 마산회원구      경상남도 창원시 마산회원구 구암서2길 51

[143 rows x 5 columns]

In [14]:
si_name = [None] * len(df)
tmp_gu_keys = ['수원시', '성남시', '안양시', '안산시', '고양시', '용인시', '청주시', '천안시', '전주시', '포항시', '창원시']
tmp_gu_dict = {
    '수원':['장안구', '권선구', '팔달구', '영통구'], 
    '성남':['수정구', '중원구', '분당구'], 
    '안양':['만안구', '동안구'], 
    '안산':['상록구', '단원구'], 
    '고양':['덕양구', '일산동구', '일산서구'], 
    '용인':['처인구', '기흥구', '수지구'], 
    '청주':['상당구', '서원구', '흥덕구', '청원구'], 
    '천안':['동남구', '서북구'], 
    '전주':['완산구', '덕진구'], 
    '포항':['남구', '북구'], 
    '창원':['의창구', '성산구', '진해구', '마산합포구', '마산회원구']
}

In [15]:
metro_list = ['서울', '부산', '대구', '인천', '대전', '광주', '울산']
for i in df.index:
    if df['시도명'][i][:2] in metro_list:
        if len(df['시군구명'][i]) == 2:
            si_name[i] = df['시도명'][i][:2] + ' ' + df['시군구명'][i]
        else:
            si_name[i] = df['시도명'][i][:2] + ' ' + df['시군구명'][i][:-1]
    else:
        if ' ' in df['시군구명'][i]:
            for key, values in tmp_gu_dict.items():
                if df['시군구명'][i].split()[1] in values:
                    if len(df['시군구명'][i].split()[1]) == 2:
                        si_name[i] = key + ' ' + df['시군구명'][i].split()[1]
                    elif df['시군구명'][i] in ['창원시 마산합포구', '창원시 마산회원구']:
                        si_name[i] = key + ' ' + df['시군구명'][i].split()[1][2:-1]
                    else:
                        si_name[i] = key + ' ' + df['시군구명'][i].split()[1][:-1]
        else:
            if df['시군구명'][i][:-1] == '고성':
                if df['시도명'][i] == '강원도':
                    si_name[i] = '고성(강원)'
                else:
                    si_name[i] = '고성(경남)'
            else:
                si_name[i] = df['시군구명'][i][:-1]

In [16]:
df['ID'] = si_name
df.head()

       상호명  지점명  시도명 시군구명                도로명주소  ID
0  버거킹오션월드  NaN  강원도  홍천군  강원도 홍천군 서면 한치골길 262  홍천
1      로데오  NaN  강원도  강릉시   강원도 강릉시 경강로 2090-1  강릉
2   왕눈이도넛츠  NaN  강원도  영월군   강원도 영월군 영월읍 삼옥재길 2  영월
3  씨지브이원주2  NaN  강원도  원주시     강원도 원주시 서원대로 171  원주
4   베스킨라벤스  NaN  강원도  삼척시       강원도 삼척시 진주로 35  삼척

In [17]:
df[df['시군구명'].str.contains('창원')]

,상호명,지점명,시도명,시군구명,도로명주소,ID
9019,호야네식당,NaN,경상남도,창원시 성산구,경상남도 창원시 성산구 중앙대로 77,창원 성산
9022,마듀,화천점,경상남도,창원시 진해구,경상남도 창원시 진해구 중원로86번길 19,창원 진해
9028,한국맥도날드진해자은D/T점,NaN,경상남도,창원시 진해구,경상남도 창원시 진해구 진해대로 950,창원 진해
9029,봉구스밥버거,NaN,경상남도,창원시 의창구,경상남도 창원시 의창구 반계로 101,창원 의창
9030,피자헛,마산내서점,경상남도,창원시 마산회원구,경상남도 창원시 마산회원구 내서읍 경남대로 915,창원 회원
...,...,...,...,...,...,...
10872,행복한찹쌀꽈배기,NaN,경상남도,창원시 마산회원구,경상남도 창원시 마산회원구 구암서2길 51,창원 회원
10874,쌀똑핫도그,NaN,경상남도,창원시 마산합포구,경상남도 창원시 마산합포구 진동면 진북산업로 55,창원 합포
10877,마미꽈배기,NaN,경상남도,창원시 의창구,경상남도 창원시 의창구 북면 천주로 1088,창원 의창
10878,엘리펀트피자,신월동점,경상남도,창원시 의창구,경상남도 창원시 의창구 신사로 83-1,창원 의창
10879,마미찹쌀꽈배기,NaN,경상남도,창원시 성산구,경상남도 창원시 성산구 반지로16번길 17-9,창원 성산

In [18]:
bk_con = df['상호명'].str.contains('버거킹') | df['상호명'].str.lower().str.contains('burgerking')
mc_con = df['상호명'].str.contains('맥도날드') | df['상호명'].str.lower().str.contains('mcdonalds')
kfc_con = df['상호명'].str.contains('케이에프씨') | df['상호명'].str.lower().str.contains('kfc')
ria_con = df['상호명'].str.contains('롯데리아') | df['상호명'].str.lower().str.contains('lotteria')

In [19]:
bk = df[bk_con]
mc = df[mc_con]
kfc = df[kfc_con]
ria = df[ria_con]

In [20]:
len(bk), len(mc), len(kfc), len(ria)

(451, 655, 213, 1123)

In [21]:
new_bk = bk.groupby('ID')[['상호명']].count()
new_mc = mc.groupby('ID')[['상호명']].count()
new_kfc = kfc.groupby('ID')[['상호명']].count()
new_ria = ria.groupby('ID')[['상호명']].count()

In [22]:
new_bk

       상호명
ID
강릉       1
거제       4
경산       4
경주       1
고양 덕양    3
...    ...
포항 북구    2
하남       2
홍성       1
홍천       4
화성       5

[136 rows x 1 columns]

In [23]:
new_bk.rename(columns={'상호명': '버거킹 매장수'}, inplace=True)
new_mc.rename(columns={'상호명': '맥도날드 매장수'}, inplace=True)
new_kfc.rename(columns={'상호명': 'KFC 매장수'}, inplace=True)
new_ria.rename(columns={'상호명': '롯데리아 매장수'}, inplace=True)

In [24]:
burger = new_bk.join([new_mc, new_kfc, new_ria], how='outer')
burger.fillna(0.0, inplace=True)
burger

       버거킹 매장수  맥도날드 매장수  KFC 매장수  롯데리아 매장수
강릉         1.0       1.0      0.0       5.0
거제         4.0       3.0      0.0       4.0
경산         4.0       0.0      2.0       8.0
경주         1.0       4.0      1.0       8.0
고양 덕양      3.0       8.0      2.0       9.0
...        ...       ...      ...       ...
태백         0.0       0.0      0.0       1.0
평창         0.0       0.0      0.0       1.0
하동         0.0       0.0      0.0       1.0
함평         0.0       0.0      0.0       1.0
화천         0.0       0.0      0.0       2.0

[223 rows x 4 columns]

In [25]:
burger = burger.astype('int')
burger.info()

<class 'pandas.core.frame.DataFrame'>
Index: 223 entries, 강릉 to 화천
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   버거킹 매장수   223 non-null    int32
 1   맥도날드 매장수  223 non-null    int32
 2   KFC 매장수   223 non-null    int32
 3   롯데리아 매장수  223 non-null    int32
dtypes: int32(4)
memory usage: 5.2+ KB

In [26]:
burger['버거 지수'] = round((burger['버거킹 매장수'] + burger['맥도날드 매장수'] + burger['KFC 매장수']) / burger['롯데리아 매장수'], 2)
burger

       버거킹 매장수  맥도날드 매장수  KFC 매장수  롯데리아 매장수  버거 지수
강릉           1         1        0         5   0.40
거제           4         3        0         4   1.75
경산           4         0        2         8   0.75
경주           1         4        1         8   0.75
고양 덕양        3         8        2         9   1.44
...        ...       ...      ...       ...    ...
태백           0         0        0         1   0.00
평창           0         0        0         1   0.00
하동           0         0        0         1   0.00
함평           0         0        0         1   0.00
화천           0         0        0         2   0.00

[223 rows x 5 columns]

In [27]:
burger[burger['버거 지수'] == np.inf]

       버거킹 매장수  맥도날드 매장수  KFC 매장수  롯데리아 매장수  버거 지수
진천           1         0        0         0    inf
창원 합포        1         2        0         0    inf
동해           0         3        1         0    inf
밀양           0         2        0         0    inf
통영           0         2        0         0    inf

In [28]:
for i in burger[burger['버거 지수'] == np.inf].index:
    burger['버거 지수'][i] = 0

In [29]:
burger.loc[['진천', '창원 합포', '동해', '밀양', '통영']]

       버거킹 매장수  맥도날드 매장수  KFC 매장수  롯데리아 매장수  버거 지수
진천           1         0        0         0    0.0
창원 합포        1         2        0         0    0.0
동해           0         3        1         0    0.0
밀양           0         2        0         0    0.0
통영           0         2        0         0    0.0

In [30]:
burger.reset_index(inplace=True)

In [32]:
burger.rename(columns={'index': 'ID'}, inplace=True)

In [33]:
burger

        ID  버거킹 매장수  맥도날드 매장수  KFC 매장수  롯데리아 매장수  버거 지수
0       강릉        1         1        0         5   0.40
1       거제        4         3        0         4   1.75
2       경산        4         0        2         8   0.75
3       경주        1         4        1         8   0.75
4    고양 덕양        3         8        2         9   1.44
..     ...      ...       ...      ...       ...    ...
218     태백        0         0        0         1   0.00
219     평창        0         0        0         1   0.00
220     하동        0         0        0         1   0.00
221     함평        0         0        0         1   0.00
222     화천        0         0        0         2   0.00

[223 rows x 6 columns]

In [34]:
map_raw = pd.read_excel('./data/draw_korea_raw.xlsx', encoding='euc-kr')
map_raw

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,철원,화천,양구,고성(강원),NaN,NaN,NaN
1,NaN,NaN,NaN,양주,동두천,연천,포천,의정부,인제,춘천,속초,NaN,NaN,NaN
2,NaN,NaN,NaN,파주,고양 일산동,서울 도봉,서울 노원,남양주,홍천,횡성,양양,NaN,NaN,NaN
3,NaN,NaN,NaN,고양 일산서,고양 덕양,서울 강북,서울 성북,가평,구리,하남,정선,강릉,NaN,NaN
4,NaN,NaN,김포,안양 만안,광명,서울 서대문,서울 종로,서울 동대문,서울 중랑,양평,태백,동해,NaN,NaN
5,NaN,인천 강화,부천,안양 동안,서울 은평,서울 마포,서울 중구,서울 성동,서울 강동,여주,원주,삼척,NaN,NaN
6,NaN,인천 서구,인천 동구,시흥,서울 강서,서울 동작,서울 용산,서울 광진,서울 송파,이천,평창,울진,NaN,NaN
7,NaN,NaN,인천 계양,안산 상록,서울 양천,서울 관악,서울 서초,과천,성남 중원,광주,영월,영덕,NaN,NaN
8,NaN,NaN,인천 부평,안산 단원,서울 영등포,서울 금천,서울 강남,성남 분당,성남 수정,용인 수지,문경,봉화,NaN,울릉
9,NaN,인천 중구,인천 미추홀,화성,서울 구로,군포,의왕,수원 영통,용인 기흥,용인 처인,안동,영양,NaN,NaN
10,인천 옹진,인천 연수,인천 남동,오산,안성,수원 권선,수원 장안,제천,예천,영주,구미,청송,포항 북구,NaN
11,태안,아산,천안 동남,천안 서북,평택,음성,수원 팔달,단양,상주,김천,군위,의성,포항 남구,NaN
12,NaN,당진,홍성,예산,공주,진천,충주,청주 흥덕,괴산,칠곡,영천,경산,경주,NaN
13,NaN,서산,보령,청양,세종,대전 대덕,증평,청주 청원,보은,고령,청도,성주,울산 북구,NaN
14,NaN,NaN,부여,논산,계룡,대전 동구,청주 상당,청주 서원,대구 북구,대구 중구,대구 수성,울산 울주,울산 동구,NaN
15,NaN,NaN,서천,금산,대전 유성,대전 중구,옥천,영동,대구 서구,대구 남구,대구 동구,울산 중구,울산 남구,NaN
16,NaN,NaN,군산,익산,대전 서구,무주,거창,합천,대구 달서,대구 달성,부산 금정,부산 동래,부산 기장,NaN
17,NaN,NaN,부안,김제,완주,장수,함양,창녕,밀양,부산 북구,부산 부산진,부산 연제,부산 해운대,NaN
18,NaN,고창,정읍,전주 덕진,진안,남원,진주,의령,부산 강서,부산 사상,부산 동구,부산 중구,NaN,NaN
19,NaN,영광,장성,전주 완산,임실,산청,함안,양산,창원 합포,부산 서구,부산 사하,부산 남구,NaN,NaN
20,NaN,함평,담양,순창,구례,하동,창원 의창,창원 성산,창원 진해,김해,부산 영도,부산 수영,NaN,NaN
21,신안,무안,광주 광산,곡성,화순,광양,사천,창원 회원,통영,NaN,NaN,NaN,NaN,NaN
22,목포,나주,광주 서구,광주 북구,순천,고흥,남해,고성(경남),거제,NaN,NaN,NaN,NaN,NaN
23,해남,영암,광주 남구,광주 동구,여수,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,진도,강진,장흥,보성,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,NaN,NaN,완도,NaN,NaN,제주,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,NaN,NaN,NaN,NaN,NaN,서귀포,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [35]:
draw_korea = pd.DataFrame(map_raw.stack())
draw_korea.reset_index(inplace=True)
draw_korea.rename(columns={'level_0':'y', 'level_1':'x', 0:'ID'}, inplace=True)
draw_korea.head()

   y   x      ID
0  0   7      철원
1  0   8      화천
2  0   9      양구
3  0  10  고성(강원)
4  1   3      양주

In [36]:
burger_new = pd.merge(draw_korea, burger, on='ID')
burger_new.head()

   y   x      ID  버거킹 매장수  맥도날드 매장수  KFC 매장수  롯데리아 매장수  버거 지수
0  0   8      화천        0         0        0         2   0.00
1  0   9      양구        0         0        0         1   0.00
2  0  10  고성(강원)        0         0        0         1   0.00
3  1   3      양주        0         1        0         3   0.33
4  1   4     동두천        2         1        0         1   3.00

In [38]:
burger_new.to_csv('./output/버거지수.csv', encoding='utf8')